<html>
  <head>
    <style>
      body {
        background: <%= correct_colour %>;
      }
    </style>
  </head>

  <body>
    <p>
      <h2>Welcome to your Sinatra number guesser!</h2>
      <p>Click play to make your first guess!</p>
      <form>
        <input type='submit' name='play' value='Play!' >
      </form>
  </body>
</html>
